.main-footer {
    background-color: #ffffff;

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 40px 10%;

    position: absolute;

    top: 95.6%;
    left: 0;

    opacity: 0.9;
}

.item-footer{
    position: relative;
}

.hashtag {
    padding: 0;
    margin: 0;

    font-size: 21px;
    line-height: 1;

    font-weight: 700;

    width: 33.33%;
}

.footer-social {
  width: 33.33%;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

.social-list li {
    margin-left: 6px;
}

.social-list li:first-child {
    margin: 0;
}

.social-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;

    transition: .2s ease-in;

    background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
    background-color: #669ec0;
}

.social-list a:active {
    background-color: #5496bd;
}

.social-list a:active svg {
    opacity: .3;
}








.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 33.33%;
}

.copyright-developer,
.copyright-author{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.copyright-developer{
  margin-right: 15px;
}

.copyright-link{
  font-size: 21px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  color: rgba(0, 0, 0, .8);
}

.copyright-text{
  margin-bottom: 5px;
}

.copyright-icon{
  width: 115px;
  height: 40px;
}

.copyright-link:hover,
.copyright-link:focus{
    color: rgba(129,179,210, .8);
    transition: .2s ease-in;
}

.copyright-link:active {
    color: rgba(0, 0, 0, 1);
    opacity: .3;
}
